<%= form_with(model: unavailabity, local: true) do |form| %>
  <% if unavailabity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unavailabity.errors.count, "error") %> prohibited this unavailabity from being saved:</h2>

      <ul>
      <% unavailabity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time %>
  </div>

  <div class="field">
    <%= form.label :full_day %>
    <%= form.check_box :full_day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
