.container
  %h1.display-3 Unavailable day
  .row
    - @unavailabities.each do |unavailabity|
      .col-lg-4.mb-4
        .card.h-100
          %h4.card-header= unavailabity.restaurant.name
          .card-body
            %p.card-text
              .row
                .col-lg-6.mb-6
                  %strong.text-success= unavailabity.date
                .col
                  = unavailabity.start_time.strftime('%H:%M %p')
                  to
                  = unavailabity.end_time.strftime('%H:%M %p')
          .card-footer
            .row
              .col
                = link_to 'Show', unavailabity
              .col
                = link_to 'Edit', edit_unavailabity_path(unavailabity)
              .col
                = link_to 'Destroy', unavailabity, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  .pagination.justify-content-center
    = paginate @unavailabities

= link_to 'New Unavailabity', new_unavailabity_path


