<p>
  <strong>Date:</strong>
  <%= @unavailabity.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @unavailabity.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @unavailabity.end_time %>
</p>

<p>
  <strong>Full day:</strong>
  <%= @unavailabity.full_day %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @unavailabity.restaurant %>
</p>

<%= link_to 'Edit', edit_unavailabity_path(@unavailabity) %> |
<%= link_to 'Back', unavailabities_path %>
