= form_with(model: facility, local: true) do |form|
  - if facility.errors.any?
    #error_explanation
      %h2
        = pluralize(facility.errors.count, "error")
        prohibited this facility from being saved:
      %ul
        - facility.errors.full_messages.each do |message|
          %li= message
  .container
    .row
      .col-sm-11.col-md-9.col-lg-7.mx-auto
        .card.my-5
          .card-header
            %h5.card-title.text-center Facilities
          .card-body
            %strong= form.label :name
            = form.text_field :name,class: "form-control"
            %strong= form.label :description
            = form.text_field :description, class: "form-control"
            .actions
              %br/
              = form.button "Create" ,class: "btn btn-lg btn-success btn-block"
