.container
  %h1.display-3 Facilities
  .row
    - @facilities.each do |facility|
      .col-lg-4.mb-4
        .card.h-100
          %h4.card-header= facility.name
          .card-body
            %p.card-text
              = facility.description
          .card-footer
            .row
              .col
                = link_to 'Show', facility
              .col
                = link_to 'Edit', edit_facility_path(facility)
              .col
                = link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  .pagination.justify-content-center
    = paginate @facilities
= link_to 'New Facility', new_facility_path
