<div class="container">
  <div class="row">
    <div class="col-sm-11 col-md-9 col-lg-7 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-header">
          <h5 class="card-title text-center">Edit profile</h5>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :name %><br />
                <%= f.text_field :name, autofocus: true, autocomplete: "name",:class =>"form-control" %>
              </div>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email",:class =>"form-control" %>
              </div>
              <div class="field">
                <%= f.label :mobile_no %><br />
                <%= f.text_field :mobile_no, autofocus: true, autocomplete: "mobile_no",:class =>"form-control" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field">
                <%= f.label :password %><i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                <% if @minimum_password_length %>
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
              </div></br>

              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
              </div>

              <div class="actions">
                  </br>
                  <%= f.button "Update" ,class: "btn btn-lg btn-primary btn-block"%>
              </div>
          <% end %>
          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-lg btn-primary btn-block" %></p>

        </div>
        <div class="card-footer">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
