<h1>Timings</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Day</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timings.each do |timing| %>
      <tr>
        <td><%= timing.restaurant.name %></td>
        <td><%= timing.day %></td>
        <td><%= timing.start_time.strftime('%H:%M %p') %></td>
        <td><%= timing.end_time.strftime('%H:%M %p') %></td>
        <td><%= link_to 'Show', timing %></td>
        <td><%= link_to 'Edit', edit_timing_path(timing) %></td>
        <td><%= link_to 'Destroy', timing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timing', new_timing_path %>
