<div class="container">
  <h1 class="display-3">Restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-lg-6 mb-6">
        <div class="card h-100">
          <h4 class="card-header"><%= restaurant.name %></h4>
          <div class="card-body">
            <% if restaurant.picture.attached? %>
              <%= image_tag restaurant.picture.variant(resize: "500x500") %>
            <% end %>
            <p class="card-text">
              <div class="row container">
                <div class="col-lg-4 mb-4">
                  <strong class="text-success">Adress:</strong>
                </div>
                <div class="col">
                  <%= restaurant.address %>
              </div>
              </div>
            </p>
            <p class="card-text">
              <div class="row container">
                <div class="col-lg-4 mb-4">
                  <strong class="text-success">Mobile_no:</strong>
                </div>
                <div class="col">
                  <%= restaurant.mobile_no %>
                </div>
              </div>
            </p>
            <p class="card-text">
              <div class="row container">
                <div class="col-lg-4 mb-4">
                  <strong class="text-success">Timing:</strong>
                </div>
                <div class="col">
                  <% restaurant.timings.each do |timing| %>
                    <p class="card-text"><%= timing.day %>:
                      <%= timing.start_time.strftime('%H:%M %p')%> to <%= timing.end_time.strftime('%H:%M %p')%>
                    </p>
                  <%end%>
                </div>
              </div>
            </p>
            <p class="card-text">
              <div class="row container">
                <div class="col-lg-4 mb-4">
                  <strong class="text-success">Cuisines & recipes:</strong>
                </div>
                <div class="col">
                  <% restaurant.cuisines.each do |cuisines| %>
                    <p class="card-text"><%= cuisines.name%> :
                      <% cuisines.recipes.each do |recipes| %>
                        <%= recipes.name %></br>
                      <%end%>
                    </p>
                  <%end%>
                </div>
              </div>
            </p>

            <p class="card-text">
              <div class="row container">
                <div class="col-lg-4 mb-4">
                  <strong class="text-success">unavailable Date:</strong>
                </div>
                <div class="col">
                  <% restaurant. unavailabities.each do |unavailable| %>
                    <p class="card-text"><%= unavailable.date %></br>Timing:
                      <%= unavailable.start_time.strftime('%H:%M %p')%> to <%= unavailable.end_time.strftime('%H:%M %p')%>
                    </p>
                  <%end%>
                </div>
              </div>
            </p>

            <p class="card-text">
              <div class="row container">
                <% restaurant.facilities.each do |facility| %>
                  <% if facility.present? %>
                    <div class="col-lg-4 mb-4">
                      <strong class="text-success">Facilities:</strong>
                    </div>
                    <div class="col">
                      <p class="card-text">
                        <%= facility.name %> :
                        <%= facility.description %>
                      </p>
                    </div>
                  <%end%>
                <%end%>
              </div>
            </p>

          </div>
          <%if restaurant.user_id == current_user.id%>
            <div class="card-footer">
                <%= link_to 'Show', restaurant ,:class =>"btn btn-class"%>
                <%= link_to 'Edit', edit_restaurant_path(restaurant),:class =>"btn btn-class" %>
                <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' },:class =>"btn btn-class" %>
            </div>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>
