.container
  %h1.display-3 Cuisines
  .row
    - @cuisines.each do |cuisine|
      .col-lg-4.mb-4
        .card.h-100
          %h4.card-header= cuisine.name
          .card-body
            %p.card-text
              = cuisine.description
          .card-footer
            .row
              .col
                = link_to 'Show', cuisine
              .col
                = link_to 'Edit',  edit_cuisine_path(cuisine)
              .col
                = link_to 'Destroy', cuisine, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  .pagination.justify-content-center
    = paginate @cuisines
= link_to 'New cuisine', new_cuisine_path




