!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Restaurant
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav#mynav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        .navbar-brand
          %strong Restaurant
        %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            - if user_signed_in?
              %li.nav-item
                = form_with(url: restaurants_path,method: 'get' ,local: true) do |f|
                  = f.text_field :search, id: :search, class: "search"
                  = f.submit "search", class: "btn btn-default"
              %li.nav-item.active
                = link_to 'Home', restaurants_path, :class => "nav-link"
              %li.nav-item.dropdown
                %a#navbarDropdownBlog.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
                  More
                .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownBlog"}
                  = link_to "Add restaurant", new_restaurant_path, :class => "dropdown-item"
                  = link_to "My restaurant", user_restaurants_path, :class => "dropdown-item", id: :myrestaurant
              %li.nav-item
                = link_to 'Edit profile', edit_user_registration_path, :class => "nav-link"
              %li.nav-item
                = link_to "Logout", destroy_user_session_path, method: :delete, :class => "nav-link"
            - else
              %li.nav-item
                = link_to "Sign up", new_user_registration_path, :class => "nav-link"
              %li.nav-item
                = link_to "Login", new_user_session_path, :class => "nav-link"
    %header
      #slides.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#slides"}
          %li{"data-slide-to" => "1", "data-target" => "#slides"}
          %li{"data-slide-to" => "2", "data-target" => "#slides"}
        .carousel-inner{:role => "listbox"}
          / Slide One - Set the background image for this slide in the line below
          .carousel-item.active
            = image_tag('1.jpg',size: "1450x500", class: 'fill img-responsive')
            .carousel-caption.d-none.d-md-block
              %a Have a nice Day
          / Slide Two - Set the background image for this slide in the line below
          .carousel-item
            = image_tag('2.jpg',size: "1450x500", class: 'fill img-responsive')
            .carousel-caption.d-none.d-md-block
              %a Testy Food
          / Slide Three - Set the background image for this slide in the line below
          .carousel-item
            = image_tag('3.jpg',size: "1450x500", class: 'fill img-responsive')
            .carousel-caption.d-none.d-md-block
              %a Delicious
        %a.carousel-control-prev{"data-slide" => "prev", :href => "#slides", :role => "button"}
          %span.carousel-control-prev-icon{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.carousel-control-next{"data-slide" => "next", :href => "#slides", :role => "button"}
          %span.carousel-control-next-icon{"aria-hidden" => "true"}
          %span.sr-only Next
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    = yield
    %br
    %footer.py-4.bg-dark
      %p.m-0.text-center.text-white Copyright © Restaurant 2018
