<%= form_for @restaurant do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :mobile_no %>
    <%= form.text_field :mobile_no %>
  </div>

  <div>
    <p><strong>Time:</strong></p>
    <div class="time">
      <%=form.fields_for :timings do |time| %>
        <%= render 'timing_fields',f: time %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add time', form, :timings %>
      </div>
    </div>
  </div>

  <div>
    <p><strong>unavailable dates:</strong></p>
    <div class="time">
      <%=form.fields_for :unavailabities do |unavailable| %>
        <%= render 'unavailabity_fields',f: unavailable %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add unavailable day', form, :unavailabities %>
      </div>
    </div>
  </div>

  <div>
    <p><strong>Cuisine:</strong></p>
    <div class="cuisine">
      <%=form.fields_for :restaurants_cuisines do |cuisine| %>
        <%= render 'restaurants_cuisine_fields',f: cuisine %>
      <%end%>

      <div class="links">
        <%= link_to_add_association 'add cuisine', form, :restaurants_cuisines %>
      </div>
    </div>
  </div>

  <div>
    <p><strong>Facility:</strong></p>
    <div class="facility">
      <%=form.fields_for :restaurants_facilities do |facility| %>
        <%= render 'restaurants_facility_fields',f: facility %>
      <%end%>

      <div class="links">
        <%= link_to_add_association 'add facility', form, :restaurants_facilities %>
      </div>
    </div>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
