<%= form_with(model: restaurant,local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm-13 col-md-11 col-lg-9 mx-auto">
        <div class="card my-5">
          <div class="card-header">
            <h5 class="card-title text-center">Restaurant</h5>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 mb-6">
                <strong><%= form.label :name%></strong>
                <%= form.text_field :name,class: "form-control" %>
              </div>

              <div class="col-lg-6 mb-6">
                <strong><%= form.label :mobile_no %></strong>
                <%= form.text_field :mobile_no, class: "form-control" %>
              </div>
            </div>

            <div class="address">
              <strong><%= form.label :address %></strong>
              <%= form.text_field :address,class: "form-control" %>
            </div>

            <div class="timing">
              <p><strong>Time:</strong></p>
              <div class="time">
                <%=form.fields_for :timings do |time| %>
                  <%= render 'timing_fields',f: time %>
                <% end %>

                <div class="links">
                  <%= link_to_add_association 'add time', form, :timings ,class: "text-success" %>
                </div>
              </div>
            </div>

            <div class="unavailable">
              <p><strong>unavailable dates:</strong></p>
              <div class="time">
                <%=form.fields_for :unavailabities do |unavailable| %>
                  <%= render 'unavailabity_fields',f: unavailable %>
                <% end %>

                <div class="links">
                  <%= link_to_add_association 'add unavailable day', form, :unavailabities,class: "text-success" %>
                </div>
              </div>
            </div>

            <div class="cusine">
              <p><strong>Cuisine:</strong></p>
              <div class="cuisine">
                <%=form.fields_for :restaurants_cuisines do |cuisine| %>
                  <%= render 'restaurants_cuisine_fields',f: cuisine %>
                <%end%>

                <div class="links">
                  <%= link_to_add_association 'add cuisine', form, :restaurants_cuisines,class: "text-success" %>
                </div>
              </div>
            </div>

            <div class="facility">
              <p><strong>Facility:</strong></p>
              <div class="facility">
                <%=form.fields_for :restaurants_facilities do |facility| %>
                  <%= render 'restaurants_facility_fields',f: facility %>
                <%end%>

                <div class="links">
                  <%= link_to_add_association 'add facility', form, :restaurants_facilities,class: "text-success" %>
                </div>
              </div>
            </div>

            <div class="field">
              <strong><%= form.label :picture %></strong><br>
              <%= form.file_field :picture %>
            </div>
            <div class="actions">
              <br>
              <%= form.button "Create" ,class: "btn btn-lg btn-success btn-block"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
