<div class="nested-fields container">
  <%= f.label :date %>
  <div class="form-inline">
      <%= f.date_select :date,{start_year: Time.now.year,end_year:2030},{class: "form-control"} %>
  </div></br>
  <div class="form-inline">
    <table class="table-responsive">
      <tr>
        <td>
          <%= f.label :start_time %>
          <%= f.time_select :start_time, {ampm: true},class: "form-control" %>
        </td>
        <td>
          <%= f.label :end_time %>
          <%= f.time_select :end_time,{ampm: true}, class: "form-control" %>
        </td>
      </tr>
    </table>
  </div>

  <p>
  </br>
    Full day
    <%= f.check_box :full_day %>
  </p>

  <%= link_to_remove_association "remove date", f %>
</div>
